@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

$home-color: #f8edeb;
$about-color: #fcd5ce;
$work-color:#d8e2dc;
$contact-color:#ffd7ba;

$headline-size: 4em;
$icon-size: 4em;
$paragraph-size: 1.75em;

* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: $paragraph-size;
    background-color: white;
}

i {
    font-size: $icon-size;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
}

.headline {
    margin-top: 2.5em;
}

.navbar-sticky {
    overflow: hidden;
    position: sticky;
    top: 0px;
    z-index: 10;
    width: 100vw;
    background-color: $about-color
    
}
.nav-link {
    font-size: 1.75em;
}

.Home {
    width: 100vw;
    height: 200vh;
    background-color: $home-color
};

.Work {
    width: 100vw;
    height: 200vh;
    background-color: $home-color
};

.About {
    width: 100vw;
    height: 200vh;
    background-color: $home-color
};

.Contact {
    width: 100vw;
    height: 200vh;
    background-color: $home-color
}

